<html>
    <head>
        <title>Client Edit</title>
        <link rel="stylesheet"      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>

        <div class='container'>
            <h1>
                Stylist Deleted!

            </h1>

            <form action="/" method="get">
                <button type="submit" class="btn">Home</button>

            </form>
        </div>



    </body>
</html>
